

<div class="container mt-5">
  <h2>Usando Pipes exemplo 1</h2>

  <div class="jumbotron">
    <!-- passo 2  -->
    {{dataNascimento | date : 'dd/MM/yyyy'}}
    <br>
    <!-- passo 3 -->
    <div class="btn btn-success mt-3" (click)='verifica()'>Verifica Data</div>
  </div>


</div>

<!-- Pipes sao usados para mudar apenas a camada de visualizaçao -->


<div class="container mt-5">
  <h2>Usando Pipes exemplo 2</h2>

  <div class="jumbotron">
    <!-- passo 2  -->
    {{dataNascimento |date:'fullDate'| uppercase }}
    <br>
    <!-- passo 3 -->
    <div class="btn btn-success mt-3" (click)='verifica()'>Verifica Data</div>
  </div>


</div>
<!-- podemos usar pipes desencadeados,ou seja um atrás do outro,porém ele altera o ultimo pipe ver exemplo na linha 25,
primeiro passamos  o pipe para alterar o formato da data,e np segundo usamos para aumentar o tamanho da fonte -->
