

<div class="container mt-5">
  <h2>Diretiva NgIf</h2>

  <div class="jumbotron">

    <div class="form-group">
      <!-- passo 3 criamos a referencia(template) -->
      <input type="text" class="form-control" #idadeRef>
    </div>

    <div class="form-group">
      <!-- passo 4 passamos no parametro da funcao e pegamos o valor como retorno -->
      <button class="btn btn-primary" (click)="verificarIdade(idadeRef.value)">Verificar</button>
    </div>
    <!-- quando utilizamos a diretiva do ng devemos usar o '*' -->
    <div *ngIf="idade < 18">
      <div class="alert alert-danger">é uma criança</div>

    </div>

  </div>
  <!-- O ngIf ele adiciona e remove o elemento da DOM -->

</div>
