

<div class="form-row">
  <div class="col-4">
    <input class="form-control" type="text" placeholder="descrição do item">
  </div>
  <div class="col-4">
    <input class="form-control" type="text" placeholder="valor do item">
  </div>
  <div class="col-4">
    <select class="custom-select mr-sm-2" id="inLineFormCustomSelect">
      <option selected>Categoria</option>
      <option value="1">Eletrônico</option>
      <option value="2">Alimento</option>
    </select>
  </div>
  <div class="col-12">
    <hr>
  </div>
</div>
